.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}
.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}
.userContainer > p {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  color: var(--primary-clr-200);
}
.userContainer > p::first-letter {
  text-transform: capitalize;
}
.review {
  font-size: var(--fs-400);
  font-weight: var(--fw-light);
  color: var(--primary-clr-100);
  letter-spacing: 1px;
}
.review::first-letter {
  text-transform: capitalize;
}
.btnsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  margin-top: 1.5rem;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  background-color: transparent;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  color: var(--primary-clr-200);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  cursor: pointer;
  transition: all 200ms ease-in-out;
  opacity: 1;
}
.btnContainer:hover {
  opacity: 0.7;
}
.btnContainer > p {
  display: none;
}
.icon {
  color: var(--primary-clr-200);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}
.likes {
  font-size: 12px;
  font-weight: var(--fw-bold);
  color: var(--primary-clr-100);
  margin-left: 1.5rem;
}
.heart {
  background-color: var(--primary-clr-100);
  display: inline-block;
  height: 30px;
  position: relative;
  top: 0;
  width: 30px;
  transform: scale(0.3) rotate(-45deg);
}
.heartAnimation {
  background-color: var(--accent-clr-200);
  animation: heartAnimation 1s ease-in;
}

.heart:before,
.heart:after {
  content: "";
  background-color: inherit;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;
  top: 0;
}

@keyframes heartAnimation {
  0%,
  100% {
    transform: scale(0.3) rotate(-45deg);
  }
  50% {
    transform: scale(0.4) rotate(-45deg);
  }
}

@media (min-width: 1100px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .btnContainer > p {
    display: inline-block;
  }
}
